@import url('https://fonts.googleapis.com/css?family=McLaren|Titillium+Web|Rubik&display=swap');

h1, h3, ul {
    margin: 0;
    padding: 0;
}

body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

body {
    font-family: 'Rubik';
    color: white;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    outline: none;
}

.js-greeting, .js-greetingForm {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1.5s linear;
}

.js-weather {
    position: absolute;
    top: 25px;
    right: 25px;
    font-style: italic;
    font-size: 13pt;
}

.js-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.js-title {
    font-size: 110pt;
}
.greeting-container {
    margin-bottom: 25px;
}

.js-greetings {
    font-size: 30pt;
}

.js-greetingForm>input[type="text"] {
  height: 40px;
  width: 450px;
  border: 0;
  background: transparent;
  border-bottom: 3px white solid;
  border-radius: 3px;
  color: silver;
  font-family: 'McLaren';
  font-size: 25pt;
}

.js-greetingForm>input::placeholder {
    font-family: 'McLaren';
    color: silver;
    font-size: 40px;
} 

.js-toDoForm>input[type="text"] {
    height: 30px;
    width: 350px;
    border: 0;
    background: transparent;
    border-bottom: 3px white solid;
    border-radius: 3px;
    color: white;
    font-family: 'McLaren';
    font-size: 13pt;
    margin-bottom: 15px;
}

.js-toDoForm>input::placeholder {
    font-family: 'McLaren';
    color: white;
    font-size: 25px;
} 