.js-toDoList {
    list-style: none;
}

.js-toDoList li {
    font-size: 20px;
}

.delBtn {
    background: transparent;
    cursor: pointer;
    border: none;
    margin-right: 3px;
    font-size: 15pt;
}